body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.desh{
    color: orange;
}
.kulon{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.ref-ruf{
    width: 50%;
    padding-left: 2%;
}
.ref-ruf img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5%;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.light-dream{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.experiences-erea{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%; 
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
}
    
#wev-content{
    border-left: 7px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}
#wev-content-host{
    border-left: 7px solid;
    border-image: linear-gradient(blue, green);
    border-image-slice: 1;
}
footer{
    text-align: center;
}

